* {
  box-sizing: border-box;
}

.missions-container {
  display: flex;
  flex-wrap: wrap;
}

.mission-li {
  display: grid;
  grid-template-columns: 10% 1fr 10% 10%;
  flex-grow: 1;
}

.mission-li>p {
  padding: 0.3em 0.2em 30px;
  height: 100%;
  margin: 0;
  border: 1px solid #DEE2E6;
  border-bottom: none;
}

.mission-li:nth-child(1n+2) .mission-status {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mission-li:first-child * {
  font-weight: 900;
}

.mission-li:nth-child(1n+2) .mission-status>p {
  width: max-content;
  border-radius: 8px;
  padding: 0.3em;
  background: #888;
  color: #fff;
}

.mission-name {
  font-weight: 900;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container>button {
  width: max-content;
  height: max-content;
  font-size: 1.2em;
  border: 1px solid #000;
  background: transparent;
  color: #000;
  padding: 0.3em 0.5em;
}

.mission-li:nth-child(even) {
  background: #f2f2f2
}