body {
  display: flex;
  justify-content: center;
}

#root {
  width: 90vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid black;
  padding: 0 1rem 1rem 1rem;
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 24rem;
}

.logo {
  width: 50px;
  height: 50px;
}

ul {
  display: flex;
}

a,
button {
  transition: all 0.3s ease-out;
}

a {
  text-decoration: none;
  color: rgb(48, 76, 255);
  padding: 0 1rem;
  font-weight: 500;
}

a:hover {
  color: black;
  text-decoration: underline;
}

li {
  list-style: none;
}

.active {
  text-decoration: underline;
}
